<mat-grid-list cols="3" rowHeight="200px" class="pokemon-grid">
  <mat-grid-tile *ngFor="let pokemon of team; let i = index" class="pokemon-tile mat-app-background" color="foreground">
    <img class="pokemon-image animate__animated animate__tada"
         src="{{'assets/img/official-artwork/' + pokemon.id + '.png'}}"
         alt="{{'assets/img/official-artwork/' + pokemon.id + '.png'}}">
    <h3 class="pokemon-name"> {{pokemon.name}} </h3>
    <div class="form-button">
      <button mat-icon-button color="warn"
              aria-label="Remove pokemon from team"
              class="float-right"
              (click)="removeId(i)">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
